.home-form__container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-form__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.home-form__input {
  width: 100%;
  outline: none;
  border: none;
  padding: 1rem;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 0.8rem;
}
.home-form__button {
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  color: #fff;
  background-color: #55c595;
}
