#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Airbnb Cereal App Light";
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: absolute;
  background-color: #fff;
  border-radius: 2rem;
  backface-visibility: hidden;
  animation: moveInUp 280ms linear;
}

@keyframes moveInUp {
  0% {
    transform: translateY(20rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
