.profile-user-i {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.profile-page-leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 30%;
  padding: 2rem;
  border: 1px solid #000;
}
.profile-page-rightside {
  flex: 1;
  padding: 2rem;
  border: 1px solid #000;
  text-align: left;
}
.profie-page__container {
  display: flex;
  margin-top: 3rem;
  text-align: center;
}
.profie-page__container p {
  border: 1px solid #000;
  margin-top: 1rem;
}
