.single-home__gallery {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 3rem;
  gap: 0.8rem;
  height: 50rem;
}
.single-home-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: #222222;
}
.single-home-title {
  font-size: 2.4rem;
  font-family: "Airbnb Cereal App Bold";
}
.firb {
  flex: 0 0 60%;
}
.secb {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
  width: 100%;
  height: 100%;
}
.single-home {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.single-home-1 {
}
.single-home-content-title {
  font-size: 2.4rem;
  font-family: "Airbnb Cereal App Bold";
}
.single-home-content-info-t {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  font-family: "Airbnb Cereal App Light";
}
.single-home__content {
  display: flex;
  gap: 4rem;
}
.home-top {
  padding-bottom: 3rem;
}
.home-mid {
  border-top: 1px solid #dddddd;
  padding: 3rem 0;
  color: #222222;
}
.home-bot {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 3rem 0;
}
.home-bot-real {
  padding-top: 3rem;
}
.single-home-content-leftside {
  flex: 0 0 55%;
}
.single-home-content-rightside {
  flex: 1;
}
.home-mid-text {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.home-mid-text:not(:last-child) {
  margin-bottom: 2rem;
}
.mid-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mid-flex-1 {
  font-size: 1.5rem;
  font-family: "Airbnb Cereal App Medium";
}
.mid-flex-2 {
  font-size: 1.34rem;
  font-family: "Airbnb Cereal App Light";
  color: #717171;
}
.home-bot-real-desc {
  font-size: 2.4rem;
  font-family: "Airbnb Cereal App Medium";
  color: #222222;
  margin-bottom: 2rem;
}
.reviews-title {
  font-size: 2.4rem;
  font-family: "Airbnb Cereal App Medium";
  color: #222222;
  margin-bottom: 2rem;
}
.home-bot-desc {
  font-size: 1.6rem;
}
.booking__container {
  display: flex;
  flex-direction: column;
  height: 25rem;
  padding: 2rem;
  border-radius: 1.2rem;
  position: sticky;
  top: 20;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
}
.booking-top {
  flex: 1;
  display: flex;
  align-items: center;
}
.booking-mid {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking-bottom button {
  font-family: "Airbnb Cereal App Medium";
  font-size: 1.6rem;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 0.8rem;
  background: linear-gradient(
    to right,
    rgb(230, 30, 55) 0%,
    rgb(227, 28, 75) 50%,
    rgb(215, 4, 82) 100%
  );
  color: #fff;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
}
.single-home-reviews {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #dddddd;
}
.booking-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.f-price {
  font-size: 2rem;
  font-family: "Airbnb Cereal App Medium";
}
.s-price {
  font-size: 1.5rem;
  font-family: "Airbnb Cereal App Book";
}
.home-review {
  display: flex;
  flex-direction: column;
}
.review-p-img {
  width: 5.5rem;
  height: 5.5rem;
  display: block;
  border-radius: 100px;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.home-review-top {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}
.fir-text {
  font-size: 1.6rem;
}

.sec-text {
  color: #757171;
  font-size: 1.4rem;
}
.review-text__main {
  font-size: 1.7rem;
}
.single-home-rules {
  padding-top: 2rem;
  border-top: 1px solid #dddddd;
}
.edit-home {
  color: #222222;
}
.star-row__container {
  display: flex;
  align-items: center;
}
.single-star {
  cursor: pointer;
}
.fa-star {
  font-size: 2rem;
}
