/* RESET */
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Airbnb Cereal App Book";
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

input,
button,
form {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}
/* UTILITY */
.ul-item {
  list-style: none;
}
.mar-top-esm {
  margin-top: 2.5rem;
}
.mar-top-sm {
  margin-top: 5rem;
}
.mar-top-md {
  margin-top: 10rem;
}
.mar-top-lg {
  margin-top: 15rem;
}
.mar-right-sm {
  margin-right: 1rem;
}
/* MAIN CONTENT */
.main__content-wrapper {
  padding: 4rem 0;
  max-width: 150rem;
  margin: 0 auto;
}
.main__content-wrapper--tighter {
  padding: 2rem 0;
  max-width: 100rem;
  margin: 0 auto;
}
