.main-header__container {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(0, 0, 0, 0.08) 0px 1px 12px;
}
.main-header__logo {
}
.main-header-logo {
  height: 3rem;
}
.main-header__search {
}
.main-header-search {
  font-family: "Airbnb Cereal App Book";
  color: #222222;
  padding: 1.2rem 1.4rem;
  border-radius: 100px;
  border: none;
  outline: none;
  border: 1px solid #dddddd;
  width: 100%;
}
.single-home-img-1 {
}
.single-home-img-2 {
}
.single-home-img-3 {
}
.main-header-search {
}
.search-btn-main {
  top: 0%;
  right: 0;
  background-color: rgb(255, 56, 92);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  padding: 1.1rem;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
}
.please-flex {
  position: relative;
  width: 100%;
}
.item-head {
  border: 1.6px solid #c5c5c5;
  border-radius: 100px;
}
.main-header__search {
  width: 50rem;
}
