.main-header__container {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(0, 0, 0, 0.08) 0px 1px 12px;
}
.main-header__logo {
}
.main-header-logo {
  height: 3rem;
}
